@{
    ViewData["Title"] = "Home Page";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
</style>
<div id="home" class="w3-content" style="padding-bottom: 100%;">
     <a name="Home"></a><h1 class="w3-center w3-jumbo w3-text-white w3-padding-32">Home</h1>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" runat="server">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/EHIjSQZQnOg/1920x1080')">
        <div class="carousel-caption">
          <h2>Strawberry-Thyme Cake</h2>
          <h5>Probably the best thing about us.</h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/P3BQh9kSo5M/1920x1080')">
        <div class="carousel-caption">
          <h2>Sweet Heart Cake</h2>
          <h5>Now available for just 5.99.</h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/o14orwX7T4g/1920x1080')">
        <div class="carousel-caption">
          <h2>Sweet Tooth Donuts</h2>
          <h5>Dreamy donuts just made for you.</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
         
            <a name="Menu"></a>
            <div><h1 class="w3-center w3-jumbo w3-text-white w3-padding-32">Menu</h1></div>
                <div id="menu" class="w3-container w3-white w3-padding-32">

<h1><b>Sweety Sweet</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$12.99</span></h1>
<p class="w3-text-grey">Satisfy your sweetest tooth!</p>

<hr>
<h1><b>Chocolate Rain</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$15.99</span></h1>
<p class="w3-text-grey">An Eternal Rain classic! </p>

<hr>
<h1><b>Sweet Tooth Donuts</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$17.99</span></h1>
<p class="w3-text-grey">Dessert time has never been better...</p>

<hr>
<h1><b>Sweet Heart Cake</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$5.99</span></h1>
<p class="w3-text-grey">Indulge your sweetheart this Valentine's Day!</p>

<hr>
<h1><b>Strawberry-Thyme Cake</b> <span class="w3-tag w3-red w3-round">Hot!</span>
<span class="w3-right w3-tag w3-dark-grey w3-round">$19.99</span></h1>
<p class="w3-text-grey">The perfect cake for summer!</p>
</div>
 <a name="About"></a><h1 class="w3-center w3-jumbo w3-text-white w3-padding-32">About</h1>
  <p class="w3-text-white w3-xlarge">We welcome you to sit back, unwind and appreciate the lovely sights and hints of the Texas while our best gourmet expert sets you up a scrumptious sweets utilizing the best and freshest ingredients. Eternal Rain’s legacy comes from Rain Sweetshop which was built up in 1963.</p>

 <a name="Contact"></a><h1 class="w3-center w3-jumbo w3-text-white w3-padding-32">Contact</h1>
 <p class="w3-text-white w3-xlarge">We're at the 171 Meghan Brook West Justiceburgh/Texas</p>
 <p class="w3-text-white w3-xlarge">You can dial 837-227-5587 for reservations! </p>
 <p class="w3-text-white w3-xlarge"> </p>

        </div> 
    </div>